# List Method 1: append

> append method adds a new value at the end of the existing list

In [16]:
# Using append to add integer values to a list
scores = [88, 92, 78, 90, 98, 84]
print(f"Initial scores: {scores}")
scores.append(68) # This adds 68 at the end of scores list
print(f"Modified scores: {scores}") # 1st example

# Using append to add float values to a list
ratings = [3.4, 2.9, 3.9, 4.5, 4, 2.4]
print(f"\nInitial ratings: {ratings}")
ratings.append(4.8) # This adds 4.8 at the end of ratings list
print(f"Modified ratings: {ratings}") # 2nd example

# Using append to add strings to a list
names = ["Mark", "Amber", "Todd", "Anita", "Sandy"]
print(f"\nInitial names: {names}")
names.append("Theophilus") # This adds Theophilus at the end of names list
print(f"Modified names: {names}") # 3rd example

animals = ["dog", "cat", "goat", "chicken", "duck"]
print(f"\nInitial animals: {animals}")
animals.append("lion") # This adds lion at the end of animals list
print(f"Modified animals: {animals}") # 4th example

# Using a variable name  as the append argument
students = ["Mark", "Amber", "Todd", "Anita", "Sandy"]
print(f"\nInitial students: {students}")
new_student = "James"
students.append(new_student) # This adds the value assigned to the variable new_student at the end of students list
print(f"Modified students: {students}") # 5th example

drivers = ["Huey", "Dewey", "Louie", "Nader", "Bubba"]
print(f"\nInitial drivers: {drivers}")
new_driver = "Pedro"
drivers.append(new_driver) # This adds the value assigned to the variable new_driver at the end of drivers list
print(f"Modified drivers: {drivers}") # 6th example

# Adding several items to the end of a list using multiple append statement
fruits = ["apple", "pineapple", "mango"]
print(f"\nInitial fruits: {fruits}")
# Adding several items to the fruits list
fruits.append("banana")
fruits.append("pear")
fruits.append("orange")
fruits.append("cucumber")
print(f"Modified fruits: {fruits}") # 7th example

countries = ["Nigeria", "Mali", "Germany", "India", "England"]
print(f"\nInitial countries: {countries}")
# Adding several items to the countries list
countries.append("France")
countries.append("Mexico")
countries.append("China")
countries.append("Ghana")
countries.append("Fiji")
print(f"Modified countries: {countries}") # 8th example

# Using append to add dates to a list
import datetime as dt # This module is required for dates

dates = [] # Empty list contains no items. I will use append to fill new dates into the list.
print(f"\nInitial dates: {dates}")
# Adding new dates to the dates list
dates.append(dt.date(2020,12,31))
dates.append(dt.date(2022,2,21))
dates.append(dt.date(2018,7,19))
dates.append(dt.date(2021,12,6))
dates.append(dt.date(2016,9,10))
# Showing dates output (not recommended method)
print("\nThis date output is not recommended")
print(f"Modified dates: {dates}")
# Showing dates output (recommended method)
print("\nThis date output is recommended")
for date in dates:
    print(f"{date: %m/%d/%y}")   # 9th example
    
birthdays = []
print(f"\nInitial birthdays: {birthdays}")
# Adding new items to the birthdays list
birthdays.append(dt.date(1992,2,17))
birthdays.append(dt.date(1989,9,21))
birthdays.append(dt.date(2002,12,6))
birthdays.append(dt.date(1996,9,15))
# Showing output
for birthday in birthdays:
    print(f"{birthday:%d/%m/%y}")  # 10th example

Initial scores: [88, 92, 78, 90, 98, 84]
Modified scores: [88, 92, 78, 90, 98, 84, 68]

Initial ratings: [3.4, 2.9, 3.9, 4.5, 4, 2.4]
Modified ratings: [3.4, 2.9, 3.9, 4.5, 4, 2.4, 4.8]

Initial names: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy']
Modified names: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy', 'Theophilus']

Initial animals: ['dog', 'cat', 'goat', 'chicken', 'duck']
Modified names: ['dog', 'cat', 'goat', 'chicken', 'duck', 'lion']

Initial students: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy']
Modified students: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy', 'James']

Initial drivers: ['Huey', 'Dewey', 'Louie', 'Nader', 'Bubba']
Modified drivers: ['Huey', 'Dewey', 'Louie', 'Nader', 'Bubba', 'Pedro']

Initial fruits: ['apple', 'pineapple', 'mango']
Modified fruits: ['apple', 'pineapple', 'mango', 'banana', 'pear', 'orange', 'cucumber']

Initial countries: ['Nigeria', 'Mali', 'Germany', 'India', 'England']
Modified countries: ['Nigeria', 'Mali', 'Germany', 'India', 'England', 'France', 'Mexico', 'China', 'Ghana', 'Fiji']

Initial dates: []

This date output is not recommended
Modified dates: [datetime.date(2020, 12, 31), datetime.date(2022, 2, 21), datetime.date(2018, 7, 19), datetime.date(2021, 12, 6), datetime.date(2016, 9, 10)]

This date output is recommended
 12/31/20
 02/21/22
 07/19/18
 12/06/21
 09/10/16

Initial birthdays: []
17/02/92
21/09/89
06/12/02
15/09/96

# List Method 2: insert

> insert method adds a new value into a particular (specified) positon in a list

In [17]:
# Using insert to add value at the beginning of a list
scores = [88, 92, 78, 90, 98, 84]
print(f"Initial scores: {scores}")
scores.insert(0,68) # This adds 68 at the beginning of scores list
print(f"Modified scores: {scores}") # 1st example

Initial scores: [88, 92, 78, 90, 98, 84]
Modified scores: [68, 88, 92, 78, 90, 98, 84]

In [20]:
# Using insert to add value at the end of a list
ratings = [3.4, 2.9, 3.9, 4.5, 4, 2.4]
print(f"\nInitial ratings: {ratings}")
ratings.insert(6, 4.8) # This adds 4.8 at the end of ratings list
print(f"Modified ratings: {ratings}") # 2nd example

Initial ratings: [3.4, 2.9, 3.9, 4.5, 4, 2.4]
Modified ratings: [3.4, 2.9, 3.9, 4.5, 4, 2.4, 4.8]

In [21]:
# Using insert to add value at the second position of a list
names = ["Mark", "Amber", "Todd", "Anita", "Sandy"]
print(f"\nInitial names: {names}")
names.insert(1,"Theophilus") # This adds Theophilus at the second position of names list
print(f"Modified names: {names}") # 3rd example

Initial names: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy']
Modified names: ['Mark', 'Theophilus', 'Amber', 'Todd', 'Anita', 'Sandy']

In [22]:
# Using insert to add value at the second to the last position of a list
animals = ["dog", "cat", "goat", "chicken", "duck"]
print(f"\nInitial animals: {animals}")
animals.insert(-1,"lion") # This adds lion at the second to the last position of animals list
print(f"Modified names: {animals}") # 4th example

Initial animals: ['dog', 'cat', 'goat', 'chicken', 'duck']
Modified names: ['dog', 'cat', 'goat', 'chicken', 'lion', 'duck']

In [25]:
# Using a variable name  as one of the insert argument
students = ["Mark", "Amber", "Todd", "Anita", "Sandy"]
print(f"\nInitial students: {students}")
new_student = "James"
students.insert(0,new_student) # This adds the value assigned to the variable new_student at the beginning of students list
print(f"Modified students: {students}") # 5th example

drivers = ["Huey", "Dewey", "Louie", "Nader", "Bubba"]
print(f"\nInitial drivers: {drivers}")
new_driver = "Pedro"
drivers.insert(2, new_driver) # This adds the value assigned to the variable new_driver at the third position of drivers list
print(f"Modified drivers: {drivers}") # 6th example

Initial students: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy']
Modified students: ['James', 'Mark', 'Amber', 'Todd', 'Anita', 'Sandy']

Initial drivers: ['Huey', 'Dewey', 'Louie', 'Nader', 'Bubba']
Modified drivers: ['Huey', 'Dewey', 'Pedro', 'Louie', 'Nader', 'Bubba']

In [29]:
# Adding several items to the end of a list using multiple insert statement
fruits = ["apple", "pineapple", "mango"]
print(f"\nInitial fruits: {fruits}")
# Adding several items to the fruits list
fruits.insert(0,"banana") # At the beginning
fruits.insert(-1, "pear") # Second to the last position
fruits.insert(2,"orange") # Third positon
fruits.insert(4,"cucumber") # fifth position
print(f"Modified fruits: {fruits}") # 7th example

countries = ["Nigeria", "Mali", "Germany", "India", "England"]
print(f"\nInitial countries: {countries}")
# Adding several items to the countries list
countries.insert(-1,"France") # Second to the last position
countries.insert(0,"Mexico")  # At the beginning
countries.insert(2,"China") # Third positon
countries.insert(4,"Ghana") # fith position
countries.insert(6,"Fiji") # Seventh position
print(f"Modified countries: {countries}") # 8th example

Initial fruits: ['apple', 'pineapple', 'mango']
Modified fruits: ['banana', 'apple', 'orange', 'pineapple', 'cucumber', 'pear', 'mango']

Initial countries: ['Nigeria', 'Mali', 'Germany', 'India', 'England']
Modified countries: ['Mexico', 'Nigeria', 'China', 'Mali', 'Ghana', 'Germany', 'Fiji', 'India', 'France', 'England']

In [35]:
# Using append to add dates to a list
import datetime as dt # This module is required for dates

dates = [] # Empty list contains no items. I will use insert to fill new dates into the list.
print(f"\nInitial dates: {dates}")
# Adding new dates to the dates list
dates.insert(0,dt.date(2020,12,31)) # At the beginning
dates.insert(1,dt.date(2022,2,21)) # Second position
dates.insert(2,dt.date(2018,7,19)) # Third position
dates.insert(3,dt.date(2021,12,6)) # Fourth position
dates.insert(4,dt.date(2016,9,10)) # Fifth position
# Showing dates output (recommended method)
for date in dates:
    print(f"{date: %m/%d/%y}")   # 9th example
    
#Inserting new dates into already created dates
print("\nAfter new dates added")
# Adding new items to the dates list
dates.insert(0,dt.date(1992,2,17)) # At the beginning
dates.insert(2,dt.date(1989,9,21)) # Third position
dates.insert(-1,dt.date(2002,12,6)) # Second to the last position
dates.insert(4,dt.date(1996,9,15)) # Fifth position
# Showing output
for date in dates:
    print(f"{date:%d/%m/%y}")  # 10th example

Initial dates: []
 12/31/20
 02/21/22
 07/19/18
 12/06/21
 09/10/16

After new dates added
17/02/92
31/12/20
21/09/89
21/02/22
15/09/96
19/07/18
06/12/21
06/12/02
10/09/16

# List Method 3: extend

> extend method is used to add multiple items to the end of a list at ones once or for combining lists together

In [4]:
# Using extend to add multiple integers at the end of a list
scores = [88, 92, 78, 90, 98, 84]
print(f"Initial scores: {scores}")
scores.extend([68,42,76,54,27,99]) # This adds all values inside the extend method at the end of scores list
print(f"Modified scores: {scores}") # 1st example

Initial scores: [88, 92, 78, 90, 98, 84]
Modified scores: [88, 92, 78, 90, 98, 84, 68, 42, 76, 54, 27, 99]

In [6]:
# Using extend to add multiple floats at the end of a list
ratings = [3.4, 2.9, 3.9, 4.5, 4, 2.4]
print(f"Initial ratings: {ratings}")
ratings.extend([4.8, 3.2, 4.1, 5, 3.9]) # This adds all values inside the extend method at the end of ratings list
print(f"Modified ratings: {ratings}") # 2nd example

Initial ratings: [3.4, 2.9, 3.9, 4.5, 4, 2.4]
Modified ratings: [3.4, 2.9, 3.9, 4.5, 4, 2.4, 4.8, 3.2, 4.1, 5, 3.9]

In [8]:
# Using append to add multiple strings to a list
names = ["Mark", "Amber", "Todd", "Anita", "Sandy"]
print(f"Initial names: {names}")
names.extend(["Theophilus","Tombra","Praise","Riwalnu"]) # This adds all values inside the extend method at the end of names list
print(f"Modified names: {names}") # 3rd example

animals = ["dog", "cat", "goat", "chicken", "duck"]
print(f"\nInitial animals: {animals}")
animals.extend(["lion","tiger","elephant","jaguar"]) # This adds all values inside the extend method at the end of animals list
print(f"Modified names: {animals}") # 4th example

Initial names: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy']
Modified names: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy', 'Theophilus', 'Tombra', 'Praise', 'Riwalnu']

Initial animals: ['dog', 'cat', 'goat', 'chicken', 'duck']
Modified names: ['dog', 'cat', 'goat', 'chicken', 'duck', 'lion', 'tiger', 'elephant', 'jaguar']

In [19]:
# Using a variable names  as the extend argument
students = ["Mark", "Amber", "Todd", "Anita", "Sandy"]
print(f"Initial students: {students}")
new_student1 = "James"
new_student2 = "Caleb"
new_student3 = "Elizabeth"
new_student4 = "Kolawole"
# This adds the value assigned to the variables at the end of students list
students.extend([new_student1,new_student2,new_student3,new_student4])
print(f"Modified students: {students}") # 5th example

drivers = ["Huey", "Dewey", "Louie", "Nader", "Bubba"]
print(f"\nInitial drivers: {drivers}")
new_driver1 = "Pedro"
new_driver2 = "Udo"
new_driver3 = "Abiodun"
new_driver4 = "Girish"
# This adds the value assigned to the variable new_driver at the end of drivers list
drivers.extend([new_driver1,new_driver2,new_driver3,new_driver4]) 
print(f"Modified drivers: {drivers}") # 6th example

Initial students: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy']
Modified students: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy', 'James', 'Caleb', 'Elizabeth', 'Kolawole']

Initial drivers: ['Huey', 'Dewey', 'Louie', 'Nader', 'Bubba']
Modified drivers: ['Huey', 'Dewey', 'Louie', 'Nader', 'Bubba', 'Pedro', 'Udo', 'Abiodun', 'Girish']

In [15]:
# Combining lists using extend
# First list
students = ["Mark", "Amber", "Todd", "Anita", "Sandy"]
print(f"Initial students: {students}")
# Second list
new_students = ["James", "Caleb", "Elizabeth", "Kolawole"]
print(f"Initial new_students: {new_students}")
# Combining second list to first list
students.extend(new_students)
# Show combined lists
print(f"Combined students: {students}") # 7th example


# First list
drivers = ["Huey", "Dewey", "Louie", "Nader", "Bubba"]
print(f"\nInitial drivers: {drivers}")
# Second list
old_drivers = ["Pedro", "Udo","Abiodun", "Girish", "Umar","Daniel"]
print(f"Initial old_drivers: {old_drivers}")
# Combining the first list to the second list
old_drivers.extend(drivers)
# Show combined lists
print(f"Combined drivers: {old_drivers}") # 8th example

Initial students: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy']
Initial new_students: ['James', 'Caleb', 'Elizabeth', 'Kolawole']
Combined students: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy', 'James', 'Caleb', 'Elizabeth', 'Kolawole']

Initial drivers: ['Huey', 'Dewey', 'Louie', 'Nader', 'Bubba']
Initial old_drivers: ['Pedro', 'Udo', 'Abiodun', 'Girish', 'Umar', 'Daniel']
Combined drivers: ['Pedro', 'Udo', 'Abiodun', 'Girish', 'Umar', 'Daniel', 'Huey', 'Dewey', 'Louie', 'Nader', 'Bubba']

In [18]:
# Combining two date using extend
import datetime as dt # This module is required for dates

# first dates
dates = [] # Empty list contains no items. I will use append to fill new dates into the list.
# Adding new dates to the dates list
dates.append(dt.date(2020,12,31))
dates.append(dt.date(2022,2,21))
dates.append(dt.date(2018,7,19))
dates.append(dt.date(2021,12,6))
dates.append(dt.date(2016,9,10))
# Showing dates output
print("This is the dates list")
for date in dates:
    print(f"{date: %d/%m/%y}")
    
#Second dates    
birthdays = []
# Adding new items to the birthdays list
birthdays.append(dt.date(1992,2,17))
birthdays.append(dt.date(1989,9,21))
birthdays.append(dt.date(2002,12,6))
birthdays.append(dt.date(1996,9,15))
# Showing birthdays output
print("\nThis is the birthdays list")
for birthday in birthdays:
    print(f"{birthday:%d/%m/%y}") 
    
# Combining birthdays list to dates lists
dates.extend(birthdays)
# Showing output for combined lists
print("\nThis is after combining birthdays list to dates lists")
for date in dates:
    print(f"{date:%d/%m/%y}")  # 9th example

This is the dates list
 31/12/20
 21/02/22
 19/07/18
 06/12/21
 10/09/16

This is the birthdays list
17/02/92
21/09/89
06/12/02
15/09/96

This is after combining birthdays list to dates lists
31/12/20
21/02/22
19/07/18
06/12/21
10/09/16
17/02/92
21/09/89
06/12/02
15/09/96

In [19]:
# first dates
dates = [] # Empty list contains no items. I will use append to fill new dates into the list.
# Adding new dates to the dates list
dates.append(dt.date(2020,12,31))
dates.append(dt.date(2022,2,21))
dates.append(dt.date(2018,7,19))
dates.append(dt.date(2021,12,6))
dates.append(dt.date(2016,9,10))
# Showing dates output
print("This is the dates list")
for date in dates:
    print(f"{date: %d/%m/%y}")
    
#Second dates    
birthdays = []
# Adding new items to the birthdays list
birthdays.append(dt.date(1992,2,17))
birthdays.append(dt.date(1989,9,21))
birthdays.append(dt.date(2002,12,6))
birthdays.append(dt.date(1996,9,15))
# Showing birthdays output
print("\nThis is the birthdays list")
for birthday in birthdays:
    print(f"{birthday:%d/%m/%y}") 
    
# Combining dates list to birthdays lists
birthdays.extend(dates)
# Showing output for combined lists
print("\nThis is after combining dates list to birthdays lists")
for birthday in birthdays:
    print(f"{birthday:%d/%m/%y}") #10th example

This is the dates list
 31/12/20
 21/02/22
 19/07/18
 06/12/21
 10/09/16

This is the birthdays list
17/02/92
21/09/89
06/12/02
15/09/96

This is after combining dates list to birthdays lists
17/02/92
21/09/89
06/12/02
15/09/96
31/12/20
21/02/22
19/07/18
06/12/21
10/09/16

# List Method 4: remove

> remove method removes the first instance of a specified item from a list

In [20]:
# Using remove to remove integer values from a list
scores = [88, 92, 78, 88, 90, 98, 84]
print(f"Initial scores: {scores}")
scores.remove(88) # This removes the first instance of 88 from the scores list
print(f"Modified scores: {scores}") # 1st example

Initial scores: [88, 92, 78, 88, 90, 98, 84]
Modified scores: [92, 78, 88, 90, 98, 84]

In [21]:
# Using remove to remove float values from a list
ratings = [3.4, 2.9, 3.9, 4.5, 4, 2.4]
print(f"Initial ratings: {ratings}")
ratings.remove(2.9) # This removes the first instance of 2.9 from the ratings list
print(f"Modified ratings: {ratings}") # 2nd example

Initial ratings: [3.4, 2.9, 3.9, 4.5, 4, 2.4]
Modified ratings: [3.4, 3.9, 4.5, 4, 2.4]

In [17]:
# Using remove to remove string values from a list
names = ["Mark", "Amber", "Todd", "Anita", "Sandy", "Amber"]
print(f"Initial names: {names}")
names.remove("Amber") # This removes the first instance of Amber from the names list
print(f"Modified names: {names}") # 3rd example

animals = ["dog", "cat", "goat", "chicken", "goat", "duck", "dog", "goat", "cat"]
print(f"\nInitial animals: {animals}")
animals.remove("goat") # This removes the first instance of goat from the animals list
print(f"Modified animals: {animals}") # 4th example

Initial names: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy', 'Amber']
Modified names: ['Mark', 'Todd', 'Anita', 'Sandy', 'Amber']

Initial animals: ['dog', 'cat', 'goat', 'chicken', 'goat', 'duck', 'dog', 'goat', 'cat']
Modified animals: ['dog', 'cat', 'chicken', 'goat', 'duck', 'dog', 'goat', 'cat']

In [28]:
# Using a variable name  as the remove argument
students = ["Mark", "Amber", "Todd", "Anita", "Sandy"]
print(f"\nInitial students: {students}")
rem_student = "Amber"
students.remove(rem_student) # This removes the first instance of the value assigned to the variable new_student from the students list
print(f"Modified students: {students}") # 5th example

drivers = ["Huey", "Dewey", "Louie", "Nader", "Bubba"]
print(f"\nInitial drivers: {drivers}")
rem_driver = "Bubba"
drivers.remove(rem_driver) # This removes the first instance of the value assigned to the variable new_student from the drivers list
print(f"Modified drivers: {drivers}") # 6th example

Initial students: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy']
Modified students: ['Mark', 'Todd', 'Anita', 'Sandy']

Initial drivers: ['Huey', 'Dewey', 'Louie', 'Nader', 'Bubba']
Modified drivers: ['Huey', 'Dewey', 'Louie', 'Nader']

In [12]:
# Removing multiple instances from a list using remove method and while loop
animals = ["dog", "cat", "goat", "chicken", "goat", "duck", "dog", "goat", "cat"]
print(f"Initial animals: {animals}")
# While loop to remove all instances of goat
while "goat" in animals:
    animals.remove("goat")
# Show the output  
print(f"Modified animals: {animals}") # 7th example

names = ["Mark", "Amber", "Todd", "Anita", "Sandy", "Amber"]
print(f"\nInitial names: {names}")
# While loop to remove all instances of Amber
while "Amber" in names:
    names.remove("Amber")
# Show the output
print(f"Modified names: {names}")  # 8th example

scores = [88, 92, 78, 88, 90, 98, 84]
print(f"\nInitial scores: {scores}")
# While loop to remove all instances of 88
while 88 in scores:
    scores.remove(88)
# Show the output
print(f"Modified scores: {scores}")  # 9th example

Initial animals: ['dog', 'cat', 'goat', 'chicken', 'goat', 'duck', 'dog', 'goat', 'cat']
Modified animals: ['dog', 'cat', 'chicken', 'duck', 'dog', 'cat']

Initial names: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy', 'Amber']
Modified names: ['Mark', 'Todd', 'Anita', 'Sandy']

Initial scores: [88, 92, 78, 88, 90, 98, 84]
Modified scores: [92, 78, 90, 98, 84]

In [10]:
# Removing a date from a date list
import datetime as dt # This module is required for dates
dates = [] # Empty list contains no items. I will use append to fill new dates into the list.
# Adding new dates to the dates list
dates.append(dt.date(2020,12,31))
dates.append(dt.date(2022,2,21))
dates.append(dt.date(2018,7,19))
dates.append(dt.date(2021,12,6))
dates.append(dt.date(2016,9,10))
# Showing dates output
print("This is the dates list")
for date in dates:
    print(f"{date: %d/%m/%y}")
    
# Using remove method to remove 10/09/2016 from the list
dates.remove(dt.date(2016,9,10))
# Showing new output
print("\nThis is the new date list after removing 10/09/2026")
for date in dates:
    print(f"{date:%d/%m/%y}") # 10th example

This is the dates list
 31/12/20
 21/02/22
 19/07/18
 06/12/21
 10/09/16

This is the new date list after removing 10/09/2026
31/12/20
21/02/22
19/07/18
06/12/21

# List Method 5: pop

> pop method like remove method removes an item from a list but it uses the item index rather than the item name and can also display the removed item

In [29]:
# Using pop to remove integer values from a list and displaying the removed values
scores = [88, 92, 78, 90, 98, 84]
print(f"Initial scores: {scores}")
pop_first = scores.pop(0) # This removes the first value from the scores list
print(f"{pop_first} was removed, so the modified scores is {scores}") # 1st example

posts = [88, 92, 78, 90, 98, 84]
print(f"\nInitial posts: {posts}")
pop_fourth = posts.pop(3) # This removes the fourth value from the posts list
print(f"{pop_fourth} was removed, so the modified posts is {posts}") # 2nd example

Initial scores: [88, 92, 78, 90, 98, 84]
88 was removed, so the modified scores is [92, 78, 90, 98, 84]

Initial posts: [88, 92, 78, 90, 98, 84]
90 was removed, so the modified posts is [88, 92, 78, 98, 84]

In [31]:
# Using pop to remove float values from a list and displaying the removed values
ratings = [3.4, 2.9, 3.9, 4.5, 4, 2.4]
print(f"Initial ratings: {ratings}")
pop_last = ratings.pop() # This removes the last value from the ratings list
print(f"{pop_last} was removed, so the modified ratings is {ratings}") # 3rd example

lapses = [3.4, 2.9, 3.9, 4.5, 4, 7.8, 8.9, 5.6]
print(f"\nInitial lapses: {lapses}")
pop_sixth = lapses.pop(5) # This removes the sixth value from the lapses list
print(f"{pop_sixth} was removed, so the modified lapses is {lapses}") # 4th example

Initial ratings: [3.4, 2.9, 3.9, 4.5, 4, 2.4]
2.4 was removed, so the modified ratings is [3.4, 2.9, 3.9, 4.5, 4]

Initial lapses: [3.4, 2.9, 3.9, 4.5, 4, 7.8, 8.9, 5.6]
7.8 was removed, so the modified lapses is [3.4, 2.9, 3.9, 4.5, 4, 8.9, 5.6]

In [19]:
# Using pop to remove string values from a list and displaying the removed values
names = ["Mark", "Amber", "Todd", "Anita", "Sandy", "Amber"]
print(f"Initial names: {names}")
pop_third = names.pop(2) # This removes the third value from the names list
print(f"{pop_third} was removed, so the modified names is {names}") # 5th example

animals = ["dog", "cat", "goat", "chicken", "goat", "duck", "dog", "goat", "cat"]
print(f"\nInitial animals: {animals}")
pop_fifth = animals.pop(4) # This removes the fifth value from the animals list
print(f"{pop_fifth} was removed, so the modified animals is {animals}") # 6th example

Initial names: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy', 'Amber']
Todd was removed, so the modified names is ['Mark', 'Amber', 'Anita', 'Sandy', 'Amber']

Initial animals: ['dog', 'cat', 'goat', 'chicken', 'goat', 'duck', 'dog', 'goat', 'cat']
goat was removed, so the modified animals is ['dog', 'cat', 'goat', 'chicken', 'duck', 'dog', 'goat', 'cat']

In [24]:
# Using values from pop 
laptops = ["hp", "asus", "lenovo", "dell", "samsung"]

first_owned = laptops.pop(0) # Removing the first value from the list
print(f"The first laptop I owned was a {first_owned} laptop") # 7th example

last_owned = laptops.pop() # Removing the last value from the list
print(f"While my latest laptop is a {last_owned} laptop") # 8th example

The first laptop I owned was a hp laptop
While my latest laptop is a samsung laptop

In [25]:
letters = ["A", "B", "C", "D", "E", "F", "G"]

# Make a copy of the first item on the list and remove it
first_item = letters.pop(0)

# Make a copy of the last item on the list and remove it
last_item = letters.pop()

# Show me the new list
print(letters)
# Show what's been removed
print(f'"{first_item}" and "{last_item}" were removed from the list.') # 9th example

['B', 'C', 'D', 'E', 'F']
"A" and "G" were removed from the list.

In [34]:
# Removing a date from a date list and displaying the removed date
import datetime as dt # This module is required for dates
dates = [] # Empty list contains no items. I will use append to fill new dates into the list.
# Adding new dates to the dates list
dates.append(dt.date(2020,12,31))
dates.append(dt.date(2022,2,21))
dates.append(dt.date(2018,7,19))
dates.append(dt.date(2021,12,6))
dates.append(dt.date(2016,9,10))
# Showing dates output
print("This is the dates list")
for date in dates:
    print(f"{date: %d/%m/%y}")
    
# Using pop method to remove 10/09/2016 from the list
last_removed = dates.pop()
# Showing new output
print(f"\n{last_removed:%d/%m/%y} was removed, the dates left are:")
for date in dates:
    print(f"{date:%d/%m/%y}") # 10th example

This is the dates list
 31/12/20
 21/02/22
 19/07/18
 06/12/21
 10/09/16

10/09/16 was removed, the dates left are:
31/12/20
21/02/22
19/07/18
06/12/21

# List Method 6: clear

> clear method is used to remove all items from the list without deleting the list. It empties a list

In [1]:
# Using clear to remove all values from a list
scores = [88, 92, 78, 88, 90, 98, 84]
print(f"Initial scores: {scores}")
scores.clear() # This removes all values from the scores list
print(f"Modified scores: {scores}") # 1st example

Initial scores: [88, 92, 78, 88, 90, 98, 84]
Modified scores: []

In [2]:
# Using clear to remove all values from a list
ratings = [3.4, 2.9, 3.9, 4.5, 4, 2.4]
print(f"Initial ratings: {ratings}")
ratings.clear() # This removes all values from the ratings list
print(f"Modified ratings: {ratings}") # 2nd example

Initial ratings: [3.4, 2.9, 3.9, 4.5, 4, 2.4]
Modified ratings: []

In [3]:
# Using clear to remove all values from a list
students = ["Mark", "Amber", "Todd", "Anita", "Sandy"]
print(f"Initial students: {students}")
students.clear()  # This removes all values from the students list
print(f"Modified students: {students}") # 3rd example

drivers = ["Huey", "Dewey", "Louie", "Nader", "Bubba"]
print(f"\nInitial drivers: {drivers}")
drivers.clear()  # This removes all values from the drivers list
print(f"Modified drivers: {drivers}") # 4th example

Initial students: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy']
Modified students: []

Initial drivers: ['Huey', 'Dewey', 'Louie', 'Nader', 'Bubba']
Modified drivers: []

In [4]:
# Using clear to remove all values from a list
names = ["Mark", "Amber", "Todd", "Anita", "Sandy", "Amber"]
print(f"Initial names: {names}")
names.clear() # This removes all values from the names list
print(f"Modified names: {names}") # 5th example

animals = ["dog", "cat", "goat", "chicken", "goat", "duck", "dog", "goat", "cat"]
print(f"\nInitial animals: {animals}")
animals.clear() # This removes all values from the animals list
print(f"Modified animals: {animals}") # 6th example

Initial names: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy', 'Amber']
Modified names: []

Initial animals: ['dog', 'cat', 'goat', 'chicken', 'goat', 'duck', 'dog', 'goat', 'cat']
Modified animals: []

In [6]:
# Using clear to remove all values from a list
new_students = ["James", "Caleb", "Elizabeth", "Kolawole"]
print(f"Initial new_students: {new_students}")
new_students.clear() # This removes all values from the new_students list
print(f"Modified new_students: {new_students}") #7th example

countries = ["Nigeria", "Mali", "Germany", "India", "England"]
print(f"\nInitial countries: {countries}")
countries.clear() # This removes all values from the countries list
print(f"Modified countries: {countries}") # 8th example

Initial new_students: ['James', 'Caleb', 'Elizabeth', 'Kolawole']
Modified new_students: []

Initial countries: ['Nigeria', 'Mali', 'Germany', 'India', 'England']
Modified countries: []

In [7]:
# Using clear to remove all values from a list
letters = ["A", "B", "C", "D", "E", "F", "G"]
print(f"Initial letters: {letters}")
letters.clear() # This removes all values from the countries list
print(f"Modified letters: {letters}") # 9th example

Initial letters: ['A', 'B', 'C', 'D', 'E', 'F', 'G']
Modified letters: []

In [8]:
# Clearing dates from datelist
import datetime as dt # This module is required for dates
dates = [] # Empty list contains no items. I will use append to fill new dates into the list.
# Adding new dates to the dates list
dates.append(dt.date(2020,12,31))
dates.append(dt.date(2022,2,21))
dates.append(dt.date(2018,7,19))
dates.append(dt.date(2021,12,6))
dates.append(dt.date(2016,9,10))
# Showing dates output
print("This is the initial dates list")
for date in dates:
    print(f"{date: %d/%m/%y}")
dates.clear() # This removes all values from the dates list
print(f"This is cleared dates list {dates}") #10th example

This is the initial dates list
 31/12/20
 21/02/22
 19/07/18
 06/12/21
 10/09/16
This is cleared dates list []

# List Method 7: count

> count method allows one to count how many times an item appears in a list

In [11]:
# Using count to count the frequency of values in a list
scores = [88, 92, 78, 88, 90, 98, 84, 98, 88, 76, 90]
print(f"Initial scores: {scores}")
count_88 = scores.count(88) # This count frequency of 88 in the scores list
print(f"There are {count_88} '88' in the scores list") # 1st example

Initial scores: [88, 92, 78, 88, 90, 98, 84, 98, 88, 76, 90]
There are 3 '88' in the scores list

In [13]:
# Using count to count the frequency of values in a list
ratings = [3.4, 2.9, 3.9, 4.5, 4, 2.4, 6.8, 2.9, 4.5]
print(f"Initial ratings: {ratings}")
count_4_5 = ratings.count(4.5) # This count frequency of 4.5 in the ratings list
print(f"There are {count_4_5} '4.5' in the ratings list") # 2nd example

Initial ratings: [3.4, 2.9, 3.9, 4.5, 4, 2.4, 6.8, 2.9, 4.5]
There are 2 '4.5' in the ratings list

In [15]:
# Using count to count the frequency of values in a list
students = ["Mark", "Amber", "Todd", "Anita", "Sandy"]
print(f"Initial students: {students}")
count_anita = students.count("Anita") # This count frequency of Anita in the students list
print(f"There are {count_anita} 'Anita' in the students list") # 3rd example

drivers = ["Huey", "Dewey", "Louie", "Nader", "Bubba"]
print(f"\nInitial drivers: {drivers}")
count_john = drivers.count("John") # This counts frequency of John in the drivers list
print(f"There are {count_john} 'John' in the drivers list") # 4th example

Initial students: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy']
There are 1 'Anita' in the students list

Initial drivers: ['Huey', 'Dewey', 'Louie', 'Nader', 'Bubba']
There are 0 'John' in the drivers list

In [17]:
# Using count to count the frequency of values in a list
animals = ["dog", "cat", "goat", "chicken", "goat", "duck", "dog", "goat", "cat"]
print(f"\nInitial animals: {animals}")
count_goat = animals.count("goat") # This counts frequency of goat in the animals list
print(f"There are {count_goat} 'goat' in the animals list") # 5th example

count_dog = animals.count("dog") # This counts frequency of dog in the animals list
print(f"There are {count_dog} 'dog' in the animals list") # 6th example

Initial animals: ['dog', 'cat', 'goat', 'chicken', 'goat', 'duck', 'dog', 'goat', 'cat']
There are 3 'goat' in the animals list
There are 2 'dog' in the animals list

In [20]:
# Using a variable name  as the count argument
students = ["Mark", "Amber", "Todd", "Anita", "Sandy", "Mark", "James", "Anita"]
print(f"Initial students: {students}")
student = "Anita"
count_anita = students.count(student) # This count frequency of Anita in the students list
print(f"There are {count_anita} 'Anita' in the students list") # 7th example

drivers = ["Huey", "Dewey", "Louie", "Nader", "Bubba"]
print(f"\nInitial drivers: {drivers}")
driver = "Bubba"
count_bubba = drivers.count(driver) # This count frequency of Bubba in the drivers list
print(f"There are {count_bubba} 'Bubba' in the drivers list") # 8th example

Initial students: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy', 'Mark', 'James', 'Anita']
There are 2 'Anita' in the students list

Initial drivers: ['Huey', 'Dewey', 'Louie', 'Nader', 'Bubba']
There are 1 'Bubba' in the drivers list

In [22]:
# Using count to count the frequency of values in a list
letters = ["A", "B", "C", "D", "C", "E", "C", "F", "C", "G", "C"]
print(f"Initial letters: {letters}")
c_count = letters.count("C") # This count frequency of C in the letters list
print(f"There are {c_count} 'C' in the letters list") # 9th example

Initial letters: ['A', 'B', 'C', 'D', 'C', 'E', 'C', 'F', 'C', 'G', 'C']
There are 5 'C' in the letters list

In [25]:
# Counting number of dates in a datelist
import datetime as dt # This module is required for dates
dates = [] # Empty list contains no items. I will use append to fill new dates into the list.
# Adding new dates to the dates list
dates.append(dt.date(2020,12,31))
dates.append(dt.date(2022,2,21))
dates.append(dt.date(2018,7,19))
dates.append(dt.date(2021,12,6))
dates.append(dt.date(2016,9,10))
# Showing dates output
print("This is the initial dates list")
for date in dates:
    print(f"{date: %d/%m/%y}")
date = dt.date(2021,12,6)
date_count = dates.count(date)
print(f"\n'{date:%d/%m/%y}' appears {date_count} time(s) in the dates list") #10th example

This is the initial dates list
 31/12/20
 21/02/22
 19/07/18
 06/12/21
 10/09/16

'06/12/21' appears 1 time(s) in the dates list

# List method 8: index

> index method returns a number indicating the position of an item in a list, based on the index number. If the item appears more than once it returns the position of the first match

In [28]:
# Using index to locate the position of values in a list
scores = [88, 92, 78, 88, 90, 98, 84, 98, 88, 76, 90]
print(f"Initial scores: {scores}")
index_88 = scores.index(88) # This returns the index number of 88 in the scores list
print(f"'88' has an index number of {index_88} in the scores list") # 1st example

Initial scores: [88, 92, 78, 88, 90, 98, 84, 98, 88, 76, 90]
'88' has an index number of 0 in the scores list

In [29]:
# Using index to locate the position of values in a list
ratings = [3.4, 2.9, 3.9, 4.5, 4, 2.4, 6.8, 2.9, 4.5]
print(f"Initial ratings: {ratings}")
index_4_5 = ratings.index(4.5) # This returns the index number of 4.5 in the ratings list
print(f"'4.5' has an index number of {index_4_5} in the ratings list") # 2nd example

Initial ratings: [3.4, 2.9, 3.9, 4.5, 4, 2.4, 6.8, 2.9, 4.5]
'4.5' has an index number of 3 in the ratings list

In [32]:
# Using index to locate the position of values in a list
students = ["Mark", "Amber", "Todd", "Anita", "Sandy"]
print(f"Initial students: {students}")
index_anita = students.index("Anita") # This returns the index number of Anita in the students list
print(f"'Anita' has an index number of {index_anita} in the students list") # 3rd example

drivers = ["Huey", "Dewey", "Louie", "Nader", "Bubba"]
print(f"\nInitial drivers: {drivers}")
index_dewey = drivers.index("Dewey") # This returns the index number of Dewey in the drivers list
print(f"'Dewey' has an index number of {index_dewey} in the drivers list") # 4th example

Initial students: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy']
'Anita' has an index number of 3 in the students list

Initial drivers: ['Huey', 'Dewey', 'Louie', 'Nader', 'Bubba']
'Dewey' has an index number of 1 in the drivers list

In [33]:
# Using index to locate the position of values in a list
animals = ["dog", "cat", "goat", "chicken", "goat", "duck", "dog", "goat", "cat"]
print(f"\nInitial animals: {animals}")
index_goat = animals.index("goat")# This returns the index number of goat in the animals list
print(f"'goat' has an index number of {index_goat} in the animals list") # 5th example

index_dog = animals.index("dog") # This returns the index number of dog in the animals list
print(f"'dog' has an index number of {index_dog} in the animals list") # 6th example

Initial animals: ['dog', 'cat', 'goat', 'chicken', 'goat', 'duck', 'dog', 'goat', 'cat']
'goat' has an index number of 2 in the animals list
'dog' has an index number of 0 in the animals list

In [34]:
# Using a variable name  as the index argument
students = ["Mark", "Amber", "Todd", "Anita", "Sandy", "Mark", "James", "Anita"]
print(f"Initial students: {students}")
student = "Anita"
index_anita = students.index(student) # This returns the index number of Anita in the students list
print(f"'Anita' has an index number of {index_anita} in the students list") # 7th example

drivers = ["Huey", "Dewey", "Louie", "Nader", "Bubba"]
print(f"\nInitial drivers: {drivers}")
driver = "Bubba"
index_bubba = drivers.index(driver) # This returns the index number of Bubba in the drivers list
print(f"'Bubba' has an index number of {index_bubba} in the drivers list") # 8th example

Initial students: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy', 'Mark', 'James', 'Anita']
'Anita' has an index number of 3 in the students list

Initial drivers: ['Huey', 'Dewey', 'Louie', 'Nader', 'Bubba']
'Bubba' has an index number of 4 in the drivers list

In [35]:
# Using index to locate the position of values in a list
letters = ["A", "B", "C", "D", "C", "E", "C", "F", "C", "G", "C"]
print(f"Initial letters: {letters}")
c_index = letters.index("C") # This returns the index number of C in the letters list
print(f"'C' has an index number of {c_index} in the letters list") # 9th example

Initial letters: ['A', 'B', 'C', 'D', 'C', 'E', 'C', 'F', 'C', 'G', 'C']
'C' has an index number of 2 in the letters list

In [36]:
# Geeting index number of dates in a datelist
import datetime as dt # This module is required for dates
dates = [] # Empty list contains no items. I will use append to fill new dates into the list.
# Adding new dates to the dates list
dates.append(dt.date(2020,12,31))
dates.append(dt.date(2022,2,21))
dates.append(dt.date(2018,7,19))
dates.append(dt.date(2021,12,6))
dates.append(dt.date(2016,9,10))
# Showing dates output
print("This is the initial dates list")
for date in dates:
    print(f"{date: %d/%m/%y}")
date = dt.date(2021,12,6)
date_index = dates.index(date)
print(f"\n'{date:%d/%m/%y}' has an index number of {date_index} in the dates list") #10th example

This is the initial dates list
 31/12/20
 21/02/22
 19/07/18
 06/12/21
 10/09/16

'06/12/21' has an index number of 3 in the dates list

# List Method 9: sort

> sort method arranges items in a list in either ascending or descending order

In [38]:
# Using sort to arrange integer values in a ascending order in a list
scores = [88, 92, 78, 90, 98, 84]
print(f"Initial scores: {scores}")
scores.sort() # This arranges the values in ascending order
print(f"Modified scores: {scores}") # 1st example

Initial scores: [88, 92, 78, 90, 98, 84]
Modified scores: [78, 84, 88, 90, 92, 98]

In [41]:
# Using sort to arrange float values in a descending order in a list
ratings = [3.4, 2.9, 3.9, 4.5, 4, 2.4]
print(f"Initial ratings: {ratings}")
ratings.sort(reverse = True) # This arranges the values in descending order
print(f"Modified ratings: {ratings}") # 2nd example

Initial ratings: [3.4, 2.9, 3.9, 4.5, 4, 2.4]
Modified ratings: [4.5, 4, 3.9, 3.4, 2.9, 2.4]

In [42]:
# Using sort to arrange strings in alphabetical order in a list
names = ["Mark", "Amber", "Todd", "Anita", "Sandy"]
print(f"Initial names: {names}")
names.sort() # This arranges the values in alphabetically
print(f"Modified names: {names}") # 3rd example

Initial names: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy']
Modified names: ['Amber', 'Anita', 'Mark', 'Sandy', 'Todd']

In [44]:
# Using sort to arrange strings in reverse alphabetical order in a list
animals = ["dog", "cat", "goat", "chicken", "duck"]
print(f"Initial animals: {animals}")
animals.sort(reverse = True) # This arranges the values in reverse alphabetical order
print(f"Modified names: {animals}") # 4th example

Initial animals: ['dog', 'cat', 'goat', 'chicken', 'duck']
Modified names: ['goat', 'duck', 'dog', 'chicken', 'cat']

In [46]:
# Using sort to organize the position of values in a list
letters = ["A", "B", "C", "D", "C", "E", "C", "F", "C", "G", "C"]
print(f"Initial letters: {letters}")
letters.sort()  # This arranges the values in alphabetically
print(f"Rearranged (a-z) letters: {letters}") # 5th example

letters.sort(reverse = True) # This arranges the values in reverse alphabetical order
print(f"Rearranged (z-a) letters: {letters}") # 6th example

Initial letters: ['A', 'B', 'C', 'D', 'C', 'E', 'C', 'F', 'C', 'G', 'C']
Rearranged (a-z) letters: ['A', 'B', 'C', 'C', 'C', 'C', 'C', 'D', 'E', 'F', 'G']
Rearranged (z-a) letters: ['G', 'F', 'E', 'D', 'C', 'C', 'C', 'C', 'C', 'B', 'A']

In [47]:
# Using sort to further arrange items in a list
students = ["Mark", "Amber", "Todd", "Anita", "Sandy", "Mark", "James", "Anita"]
print(f"Initial students: {students}")
students.sort() # This arranges the values in alphabetically
print(f"Rearranged (a-z) students: {students}") # 7th example

drivers = ["Huey", "Dewey", "Louie", "Nader", "Bubba"]
print(f"\nInitial drivers: {drivers}")
drivers.sort(reverse = True) # This arranges the values in reverse alphabetical order
print(f"Rearranged (z-a) drivers: {drivers}") # 8th example

Initial students: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy', 'Mark', 'James', 'Anita']
Rearranged (a-z) students: ['Amber', 'Anita', 'Anita', 'James', 'Mark', 'Mark', 'Sandy', 'Todd']

Initial drivers: ['Huey', 'Dewey', 'Louie', 'Nader', 'Bubba']
Rearranged (z-a) drivers: ['Nader', 'Louie', 'Huey', 'Dewey', 'Bubba']

In [49]:
# Using sort to arrange dates from earliest to latest and vice versa
import datetime as dt # This module is required for dates

dates = [] # Empty list contains no items. I will use append to fill new dates into the list.
# Adding new dates to the dates list
dates.append(dt.date(2020,12,31))
dates.append(dt.date(2022,2,21))
dates.append(dt.date(2018,7,19))
dates.append(dt.date(2021,12,6))
dates.append(dt.date(2016,9,10))
# Sorting dates from earliest to latest
dates.sort()
# Showing dates output 
print("Dates arranged from earliest to latest")
for date in dates:
    print(f"{date: %m/%d/%y}") # 9th example
    
birthdays = []
print(f"\nInitial birthdays: {birthdays}")
# Adding new items to the birthdays list
birthdays.append(dt.date(1992,2,17))
birthdays.append(dt.date(1989,9,21))
birthdays.append(dt.date(2002,12,6))
birthdays.append(dt.date(1996,9,15))
# Sorting birthdays from latest to earliest
birthdays.sort(reverse = True)
# Showing birthdays output
print("Birthdays arranged from latest to earliest")
for birthday in birthdays:
    print(f"{birthday:%d/%m/%y}")  # 10th example

Dates arranged from earliest to latest
 09/10/16
 07/19/18
 12/31/20
 12/06/21
 02/21/22

Initial birthdays: []
Birthdays arranged from latest to earliest
06/12/02
15/09/96
17/02/92
21/09/89

# List Method 10: reverse

> reverse method reverses the position of items in a list without arranging them in any particular order.

In [50]:
# Using reverse to reverse position of integer values in a list
scores = [88, 92, 78, 90, 98, 84]
print(f"Initial scores: {scores}")
scores.reverse() # This reverses the position of the values
print(f"Modified scores: {scores}") # 1st example

Initial scores: [88, 92, 78, 90, 98, 84]
Modified scores: [84, 98, 90, 78, 92, 88]

In [51]:
# Using reverse to reverse position of float values in a list
ratings = [3.4, 2.9, 3.9, 4.5, 4, 2.4]
print(f"Initial ratings: {ratings}")
ratings.reverse() # This reverses the position of the values
print(f"Modified ratings: {ratings}") # 2nd example

Initial ratings: [3.4, 2.9, 3.9, 4.5, 4, 2.4]
Modified ratings: [2.4, 4, 4.5, 3.9, 2.9, 3.4]

In [65]:
# Using reverse to reverse position of string values in a list
names = ["Mark", "Amber", "Todd", "Anita", "Sandy"]
print(f"Initial names: {names}")
names.reverse()  # This reverses the position of the values
print(f"Modified names: {names}") # 3rd example

animals = ["dog", "cat", "goat", "chicken", "duck"]
print(f"\nInitial animals: {animals}")
animals.reverse() # This reverses the position of the values
print(f"Modified animals: {animals}") # 4th example

Initial names: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy']
Modified names: ['Sandy', 'Anita', 'Todd', 'Amber', 'Mark']

Initial animals: ['dog', 'cat', 'goat', 'chicken', 'duck']
Modified animals: ['duck', 'chicken', 'goat', 'cat', 'dog']

In [61]:
# Using reverse to reverse the position of values in a list
letters = ["A", "B", "C", "D", "C", "E", "C", "F", "C", "G", "C"]
print(f"Initial letters: {letters}")
letters.reverse()  # This reverses the position of the values
print(f"Reversed letters: {letters}") # 5th example

countries = ["Nigeria", "Mali", "Germany", "India", "England"]
print(f"\nInitial countries: {countries}")
countries.reverse() # This reverses the position of the values
print(f"Reversed countries: {countries}") # 6th example

Initial letters: ['A', 'B', 'C', 'D', 'C', 'E', 'C', 'F', 'C', 'G', 'C']
Reversed letters: ['C', 'G', 'C', 'F', 'C', 'E', 'C', 'D', 'C', 'B', 'A']

Initial countries: ['Nigeria', 'Mali', 'Germany', 'India', 'England']
Reversed countries: ['England', 'India', 'Germany', 'Mali', 'Nigeria']

In [66]:
# Using reverse to further reverse items in a list
students = ["Mark", "Amber", "Todd", "Anita", "Sandy", "Mark", "James", "Anita"]
print(f"Initial students: {students}")
students.reverse() # This reverses the position of the values
print(f"Reversed students: {students}") # 7th example

drivers = ["Huey", "Dewey", "Louie", "Nader", "Bubba"]
print(f"\nInitial drivers: {drivers}")
drivers.reverse() # This reverses the position of the values
print(f"Reversed drivers: {drivers}") # 8th example

Initial students: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy', 'Mark', 'James', 'Anita']
Reversed students: ['Anita', 'James', 'Mark', 'Sandy', 'Anita', 'Todd', 'Amber', 'Mark']

Initial drivers: ['Huey', 'Dewey', 'Louie', 'Nader', 'Bubba']
Reversed drivers: ['Bubba', 'Nader', 'Louie', 'Dewey', 'Huey']

In [60]:
# Using reverse to reverse dates in a list
import datetime as dt # This module is required for dates

dates = [] # Empty list contains no items. I will use append to fill new dates into the list.
# Adding new dates to the dates list
dates.append(dt.date(2020,12,31))
dates.append(dt.date(2022,2,21))
dates.append(dt.date(2018,7,19))
dates.append(dt.date(2021,12,6))
dates.append(dt.date(2016,9,10))
# Show output of initial list
print("List initially contains dates in this order ")
for date in dates:
    print(f"{date:%d/%m/%y}")
    
# reversing dates 
dates.reverse()
# Showing reversed dates output 
print("\nList reversed contains dates in this order")
for date in dates:
    print(f"{date: %d/%m/%y}") # 9th example
    
birthdays = []
# Adding new items to the birthdays list
birthdays.append(dt.date(1992,2,17))
birthdays.append(dt.date(1989,9,21))
birthdays.append(dt.date(2002,12,6))
birthdays.append(dt.date(1996,9,15))
# Show output of initial list
print("\nList initially contains birthdays in this order ")
for birthday in birthdays:
    print(f"{birthday:%d/%m/%y}")
    
# reversing birthdays
birthdays.reverse()
# Showing reversed dates output 
print("\nList reversed contains birthdays in this order")
for birthday in birthdays:
    print(f"{birthday:%d/%m/%y}")  # 10th example

List initially contains dates in this order
31/12/20
21/02/22
19/07/18
06/12/21
10/09/16

List reversed contains dates in this order
 10/09/16
 06/12/21
 19/07/18
 21/02/22
 31/12/20

List initially contains birthdays in this order
17/02/92
21/09/89
06/12/02
15/09/96

List reversed contains birthdays in this order
15/09/96
06/12/02
21/09/89
17/02/92

# List method 11: copy

> copy method allows one to make a copy of the original list and making alterations to the copied version without altering the original list

In [64]:
# Copying and reversing numbers of copied list
scores = [88, 92, 78, 90, 98, 84]
backwared_scores = scores.copy() # This copies the scores list
backwared_scores.reverse() # This reverses the position of the values
print(f"Initial scores: {scores}")
print(f"Copied scores: {backwared_scores}") # 1st example

ratings = [3.4, 2.9, 3.9, 4.5, 4, 2.4]
back_ratings = ratings.copy() # This copies the ratings list
back_ratings.reverse() # This reverses the position of the values
print(f"\nInitial ratings: {ratings}")
print(f"Copied ratings: {back_ratings}") # 2nd example

Initial scores: [88, 92, 78, 90, 98, 84]
Copied scores: [84, 98, 90, 78, 92, 88]

Initial ratings: [3.4, 2.9, 3.9, 4.5, 4, 2.4]
Copied ratings: [2.4, 4, 4.5, 3.9, 2.9, 3.4]

In [67]:
# Copying and reversing strings of copied list
names = ["Mark", "Amber", "Todd", "Anita", "Sandy"]
back_names = names.copy()  # This copies the names list
back_names.reverse()  # This reverses the position of the values
print(f"Initial names: {names}")
print(f"Copied names: {back_names}") # 3rd example

animals = ["dog", "cat", "goat", "chicken", "duck"]
back_animals = animals.copy()  # This copies the animals list
back_animals.reverse() # This reverses the position of the values
print(f"\nInitial animals: {animals}")
print(f"Copied animals: {back_animals}") # 4th example

Initial names: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy']
Copied names: ['Sandy', 'Anita', 'Todd', 'Amber', 'Mark']

Initial animals: ['dog', 'cat', 'goat', 'chicken', 'duck']
Copied animals: ['duck', 'chicken', 'goat', 'cat', 'dog']

In [69]:
# Copying and sorting values of a copied list
letters = ["A", "B", "C", "D", "C", "E", "C", "F", "C", "G", "C"]
sort_letters = letters.copy() # This copies the letters list
sort_letters.sort()  # This arranges the values in alphabetically
print(f"Initial letters: {letters}")
print(f"Copied letters: {sort_letters}") # 5th example

drivers = ["Huey", "Dewey", "Louie", "Nader", "Bubba"]
sort_drivers = drivers.copy() # This copies the drivers list
sort_drivers.sort(reverse = True) # This arranges the values in reverse alphabetical order
print(f"\nInitial drivers: {drivers}")
print(f"Copied drivers: {sort_drivers}") # 6th example

Initial letters: ['A', 'B', 'C', 'D', 'C', 'E', 'C', 'F', 'C', 'G', 'C']
Copied letters: ['A', 'B', 'C', 'C', 'C', 'C', 'C', 'D', 'E', 'F', 'G']

Initial drivers: ['Huey', 'Dewey', 'Louie', 'Nader', 'Bubba']
Copied drivers: ['Nader', 'Louie', 'Huey', 'Dewey', 'Bubba']

In [72]:
# Copying and adding values of a copied list
animals = ["dog", "cat", "goat", "chicken", "duck"]
copied_animals = animals.copy() # This copies the animals list
copied_animals.append("lion") # This adds lion at the end of copied animals list
print(f"Initial animals: {animals}")
print(f"Copied animals: {copied_animals}") # 7th example


students = ["Mark", "Amber", "Todd", "Anita", "Sandy"]
c_students = students.copy()# This copies the students list
new_student = "James"
c_students.append(new_student) # This adds the value assigned to the variable new_student at the end of students list
print(f"\nInitial students: {students}")
print(f"Copied students: {c_students}") # 8th example

Initial animals: ['dog', 'cat', 'goat', 'chicken', 'duck']
Copied animals: ['dog', 'cat', 'goat', 'chicken', 'duck', 'lion']

Initial students: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy']
Copied students: ['Mark', 'Amber', 'Todd', 'Anita', 'Sandy', 'James']

In [75]:
# Copying and removing values of a copied list
new_students = ["James", "Caleb", "Elizabeth", "Kolawole"]
c_new_students = new_students.copy() #This copies the new_students list
c_new_students.remove("James") # This removes James from the copied new_students list
print(f"Initial new_students: {new_students}")
print(f"Copied new_students: {c_new_students}") #9th example

countries = ["Nigeria", "Mali", "Germany", "India", "England"]
c_countries = countries.copy() #This copies the countries list
c_countries.clear() # This removes all values from the copied countries list
print(f"\nInitial countries: {countries}")
print(f"Copied countries: {c_countries}") # 10th example

Initial new_students: ['James', 'Caleb', 'Elizabeth', 'Kolawole']
Copied new_students: ['Caleb', 'Elizabeth', 'Kolawole']

Initial countries: ['Nigeria', 'Mali', 'Germany', 'India', 'England']
Copied countries: []